Django==4.1.1
djangorestframework
django-filebrowser-no-grappelli
django-tinymce
django-admin-interface
django-extra-settings
django-phonenumber-field[phonenumbers]
django-payments[stripe]
celery
django-celery-results
rabbitmq
shortuuid
markdown
django-filter
psycopg2-binary
pillow
gunicorn
art