*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
*.bak 
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.gitignore
.sass-cache
.vagrant/
__pycache__
nginx/
dist
docs
env/
venv/
logs
stats
Dockerfile
.dockerignore
docker-compose.yml
README.md