/* CSS reset*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}


/* Fonts */

	/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Poppins:wght@100;300;400&display=swap'); */
	/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap'); */
/* Colors */

	:root {
		--body-background-color: white;
		/* --header-background-color: rgba(233, 233, 233, 0.9); */
		--header-background-color: rgba(255, 255, 255, 0.9);
		--wrapper-background-color: white;
		--footer-background-color: rgb(226, 226, 226);
		--color-1: black;
		--color-2: white;
		--color-3: #444;
		--color-4: #dc143c;
		--color-4-o: rgba(220, 20, 60, 0.9);
		--color-5: rgb(226, 226, 226);
		--logo-color: #444;
		--a-text: #444;
		--a-text-active: crimson;
		--border-color: #444;
	}

/* Design */

	body {
		background-color: var(--body-background-color);
		font-family: 'Montserrat', 'Source Sans Pro', Verdana, Helvetica, sans-serif;
	}

	nav a {
		text-decoration: none;
	}

	nav li {
		list-style-type: none;
		list-style-position: inside;
		font-size: 16px;
		color: var(--a-text);
	}

/* Header */

	#header {
		background: var(--header-background-color);
		width: 100%;
		padding: 10px 0;
		position: sticky;
		top: 0;
		z-index: 100;
		/* box-shadow: 0.2em 0.2em 5px rgba(228, 228, 228, 0.5); */
		box-shadow: 0.2em 0.2em 5px rgba(220, 20, 60, 0.5);
	}

	a.logo {
		float: left;
		margin-left: 40px;
		font-weight: 100;
		font-size: 36px;
		font-family: 'Source Sans Pro' , sans-serif;
		text-decoration: none;
		color: var(--a-text-active);
	}

	a.logo:hover {
		color: var(--a-text)
	}

	.header-element {
		margin-right: 40px;
		font-size: 36px;
		text-decoration: none;
	}

	.header-element, .header-element:visited {
		color: var(--color-3)
	}

	.header-element:active, .header-element:hover {
		color: var(--color-4)
	}

	.header-left-block {
		width: 400px;
		float: left;
		padding: 10px;
		text-align: center;
	}

	.header-right-block {
		width: 400px;
		float: right;
		padding: 10px;
		text-align: center;
	}

/* Top menu */

	nav.top-menu, ul.top-menu{
		display:inline-flex;
		justify-content:center;
	}

	.top-menu li {
		display: inline-block;
		padding: 10px 30px;
		text-align: center;
	}

	.top-menu li:hover, li.active {
		color: var(--color-4);
	}

	.top-menu a, .top-menu a:visited{
		color: var(--a-text);
		padding: 10px 30px;
	}

	.top-menu a:hover, .top-menu a:active{
		color: var(--a-text-active);
	}

/* Left sidebar */

	aside.sidebar > nav {
		border: 1px var(--border-color) solid;
		border-bottom: 0px;
	}

	aside.sidebar > nav > p {
		font-size: 18px;
		text-align: center;
		padding: 15px 10px;
		border-bottom: 1px var(--border-color) solid;
		background: var(--color-3);
		color: var(--color-2)
	}

	aside.sidebar > nav  > p:hover {
		color: var(--color-4);
	}

	aside.sidebar {
		float: left;
		width: 300px;
		padding: 10px;
		background: var(--color-2);
	}

	.aside-menu li {
		list-style-type: square;
		padding: 15px 10px;
		text-align: left;
		border-bottom: 1px var(--border-color) solid;
	}

	.aside-menu li:hover {
		color: var(--color-4);
		background-color: var(--color-5);
	}

	.aside-menu a, .aside-menu a:visited{
		color: var(--a-text);
	}

	.aside-menu a:hover, .aside-menu a:active{
		color: var(--a-text-active);
	}

	aside.sidebar span.ti-angle-right {
		float: right;
		font-size: 14px;
		padding-right: 20px;
	}

/* Left sidebar content */

	.sidebar > section {
		margin: 10px 0px 10px 0px;
		padding: 10px;
		box-sizing: border-box;
		background: var(--color-5);
	}

	.sidebar > section > h2 {
		font-size: 16px;
		color: var(--color-3)
	}

	.sidebar > section > a > img {
		/* background: var(--color-2); */
		/* border: var(--color-3) 1px solid; */
		padding: 10px;
		width: 92%;
		height: 92%;
		margin-top: 10px;
		text-align: center;
	}

/* Slider */

	.slider{
		max-width: 90%;
		/* Положение элемента устанавливается относительно его исходной позиции: */
		position: relative;
		/* Центрируем по горизонтали: */
		margin: auto;
		height: 700px;
	}

	/* Картинка масштабируется по отношению к родительскому элементу: */
	.slider .item img {
		/* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
		object-fit: cover;
		width: 100%;
		height: 700px;
	}

	/* Кнопки назад и вперёд: */
	.slider .previous, .slider .next {
		/* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
		cursor: pointer;
		/* Положение элемента задаётся относительно границ браузера: */
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -22px;
		padding: 16px;
		/* Оформление самих кнопок: */
		color: white;
		font-weight: bold;
		font-size: 16px;
		/* Плавное появление фона при наведении курсора: */
		transition: 0.6s ease;
		/* Скругление границ: */
		border-radius: 0 3px 3px 0;
	}
	.slider .next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* При наведении курсора на кнопки добавляем фон кнопок: */
	.slider .previous:hover,
	.slider .next:hover {
		background-color: rgba(0, 0, 0, 0.2);
		color: var(--color-4);
	}

	/* Анимация слайдов: */
	.slider .item {
		animation-name: fade;
		animation-duration: 1.5s;
	}
	@keyframes fade {
		/* Устанавливаем и изменяем степень прозрачности: */
		from {
			opacity: 0.4
		}
		to {
			opacity: 1
		}
	}

/* IDs */

	#wrapper {
		padding-top: 90px;
		margin-left: 20%;
		margin-right: 20%;
		background-color: var(--wrapper-background-color);
		width: auto;
		min-height: 2000px;
	}

	#footer {
		background-color: var(--footer-background-color);
	}

	#content {
		margin-left: 320px;
		padding: 10px;
		background-color: var(--color-2);
	}