/* CSS reset*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}	

/* Colors */

	:root {
		--body-background-color: white;
		--header-background-color: rgba(255, 255, 255, 0.9);
		--wrapper-background-color: white;
		--footer-background-color: rgb(226, 226, 226);
		--color-1: black;
		--color-2: white;
		--color-3: #444;
		--color-4: #dc143c;
		--color-4-o: rgba(220, 20, 60, 0.9);
		--color-5: rgb(226, 226, 226);
		--logo-color: #444;
		--a-text: #444;
		--a-text-active: crimson;
		--border-color: #444;
	}

/* Global */

	body {
		background-color: var(--body-background-color);
		font-family: 'Montserrat', 'Source Sans Pro', Verdana, Helvetica, sans-serif;
	}
	
	a, a:visited, a:active {
		color: var(--a-text);
		text-decoration: none;
	}

	a:hover {
		color: var(--a-text-active);
		text-decoration: none;		
	}

	.a-important:hover, .a-important:active {
		color: var(--a-text-active) !important;
	}

	li {
		color: var(--a-text);
	}

	li:hover, li:active {
		color: var(--a-text-active);
	}

/* Header */

	#header {
		background: var(--header-background-color);	
		/* padding: 10px 0;
		margin-bottom: 10px; */
		box-shadow: 0 0.2em 5px rgba(220, 20, 60, 0.5);
	}

	a.logo {
		font-weight: 100;
		font-size: 36px;
		font-family: 'Source Sans Pro' , sans-serif;
		text-decoration: none;
		color: var(--a-text-active);
	}

	a.logo:hover {
		color: var(--a-text)
	}

	.header-element, .header-element:visited {
		color: var(--color-3);
		font-size: 36px;
		text-decoration: none;
	}

	.header-element:active, .header-element:hover {
		color: var(--color-4)
	}	


/* Offcanvas */

	.offcanvas {
		box-shadow: 0 0 5px 0.1em rgba(220, 20, 60, 0.5);
	}

	.offcanvas-submit-button {
		border: 1px var(--color-4) solid;
	}

/* btn-back-to-top */

	#btn-back-to-top {
		bottom: 20px;
		right: 20px;
		display: none;
		border-color: var(--color-4);
		color: var(--color-4)
	}

/* Wrapper */

	#wrapper {
		background-color: var(--wrapper-background-color);
		min-height: 2000px;
	}

/* Sidebar */	

	.sidebar {
		background: var(--color-2);
	}

	.sidebar-menu {
		border: 1px var(--border-color) solid;
	}

	.sidebar-menu-header {
		font-size: 20px;
		font-family: 'Source Sans Pro' , sans-serif;
		font-weight: 300;
		padding: 15px 10px;
		border-bottom: 1px var(--border-color) solid;
		background: var(--color-3);
		color: var(--color-2)
	}

	.sidebar-menu-header:hover {
		color: var(--color-4);
	}

	.sidebar-menu-content li {
		padding: 15px 10px;
		border-top: 1px var(--border-color) solid;
	}

	.sidebar-menu-content li:first-child {
		border-top: 0px;
	}

	.sidebar-menu-content span.ti-angle-right {
		font-size: 14px;
	}

	.sidebar-content {
		margin: 10px 0px 10px 0px;
		background: var(--color-5);
	}

/* Forms */

	form input {
		color: #212529;
		border: 1px solid #ced4da;
		background-color: #fff;
		border-radius: 0.25rem;
	}