{% extends "base.html" %}

{% block title %}
    {{block.super}}
    | О нас
{% endblock title %}

{% load static %}
{% load extra_settings %}

{% block content %}

    <div class="container pt-3">
        <div class="fs-4">О нас</div>
        <div class="my-3">
            {% get_setting 'ABOUT_PAGE_INFORMATION' default='Настройте параметр ABOUT_PAGE_INFORMATION' %}
        </div>
        <div class="lead text-center my-3" >
            Мы находимся:
        </div>
        <div class="container mt-3">
            <iframe class="container" src="https://yandex.ru/map-widget/v1/?um=constructor%3A0721b580c31c57c268e03b5d4b604da1a3b20effbbec676c8b5d2b2dce368ffb&amp;source=constructor" width="916" height="678" frameborder="0"></iframe>
        </div>
    </div>

{% endblock content %}