<!doctype html>

{% load static %}
{% load extra_settings %}

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Title -->
        <title>{% block title %}{% get_setting 'SITE_NAME' default='Настройте параметр SITE_NAME...' %}{% endblock title %}</title>

        <!-- Site icon -->
        <link rel="icon" type="image/png" href="{% static 'images/favcon.png' %}">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/UIkit/uikit.min.css' %}" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <!-- CSS icons -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">

        <!-- Fonts -->
        <link href="{% static 'fonts/fonts.css' %}" rel="stylesheet">

        {% get_setting "MAIN_COLOR" default='#dc143c' as main_color %}
        {% get_setting "SECOND_MAIN_COLOR" default='#dc143c' as second_main_color %}
        {% get_setting "A_TEXT_COLOR" default='#dc143c' as a_text_active_color %}
        {% get_setting "SECOND_MAIN_COLOR_O" default='rgba(220, 20, 60, 0.9)' as second_main_color_o %}
        {% get_setting "SHADOW_COLOR" default='rgba(220, 20, 60, 0.5)' as shadow_color %}

        <style>
            :root {
                --main-color: {{main_color}} !important;
                --second-main-color: {{second_main_color}} !important;
                --second-main-color-o: {{second_main_color_o}} !important;
                --shadow-color: {{shadow_color}} !important;
                --a-text-active: {{main_color}} !important;
            }
        </style>
    </head>

    <body>

        <!-- Header --> 
        <header id="header" class="navbar navbar-expand-xl sticky-top">    
            <nav class="container-fluid">

                <!-- Left header block - Logo -->
                <a href="/" class="navbar-brand logo ms-3">{% get_setting 'SITE_NAME' default='Настройте параметр SITE_NAME...' %}</a>

                <!-- Navbar toggler -->
                <button type="button" class="navbar-toggler text-black" data-bs-toggle="collapse"
                data-bs-target="#navbar-menu" aria-controls="navbar-menu" 
                aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="ti-menu"></span>
                </button>

                <!-- Navigation menu -->
                <div id="navbar-menu" class="navbar-collapse collapse">

                    <hr class="d-xl-none border-top-colored"> 

                    <ul class="navbar-nav top-nav-menu me-auto d-inline-flex">
                        <li class="nav-item px-4">
                            <a class="nav-link text-reset uk-button-text" aria-current="page" href="/">Домой</a>
                        </li>

                        <li class="nav-item px-4">
                            <a class="nav-link text-reset uk-button-text " href="{% url 'contacts' %}">Контакты</a>
                        </li>

                        <li class="nav-item px-4">
                            <a class="nav-link text-reset uk-button-text " href="{% url 'delivery' %}">Доставка</a>
                        </li>

                        <li class="nav-item px-4">
                            <a class="nav-link text-reset uk-button-text " href="{% url 'about' %}">О нас</a>
                        </li>
                
                    </ul>

                    <hr class="d-xl-none border-top-colored"> 

                    <!-- Right header block --> 
                    <div class="d-inline-flex">
                        <div class="header-element me-5 ms-3 a-important"><span class="ti-search"></span></div>

                            <!-- Search form --> 
                            <div class="uk-navbar-dropdown" uk-drop="mode: click; cls-drop: uk-navbar-dropdown; boundary: !nav">
                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div class="uk-width-expand">
                                        <form class="uk-search uk-search-navbar uk-width-1-1" method="get" action="{% url 'products' %}">
                                            <input class="uk-search-input" name="search_query" id="search_query" type="search" placeholder="Поиск..."  autocomplete="off" autofocus>
                                        </form>
                                    </div>
                                    <div class="uk-width-auto">
                                        <div class="uk-navbar-dropdown-close a-important" uk-close></div>
                                    </div>
                                </div>

                            </div>

                        <a class="header-element me-5" href="{% url 'dashboard' %}">
                            <span class="ti-user"></span>
                        </a>

                        <div id="shopping-cart-offcanvas-open-button" class="header-element me-5 a-important" href="#shopping-cart-offcanvas" data-bs-toggle="offcanvas" aria-controls="shopping-cart-offcanvas">
                            <span class="ti-shopping-cart"></span>
                        </div>

                    </div>

                </div>
            </nav>
        </header>

        <!-- Offcanvas -->
        <div id="shopping-cart-offcanvas" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="shopping-cart-offcanvas-label">
            
            <!-- Offcanvas header-->
            <div class="offcanvas-header my-auto">
                <p class="offcanvas-title h4 header-element badge uk-button-text" id="shopping-cart-offcanvas-label">Корзина  <span class="ti-shopping-cart"></span></p>
                <button type="button" class="btn-close btn-lg border-colored" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
            </div>

            <!-- Decoration -->
            <hr class="border-top-colored">

            <!-- Offcanvas body-->
            <div class="offcanvas-body">

                {% if cart %}
                    <div class="p-2">
                        {% for product in cart %}
                            <!-- Product in cart-->
                            <div class="uk-transition-toggle">
                                <div class="uk-card-hover uk-transition-scale-up uk-transition-opaque d-flex border p-3" aria-hidden="true">
                                    
                                    <img src="{{product.image}}" alt="Product image" class="flex-shrink-0 me-3 my-auto rounded uk-transition-scale-up uk-transition-opaque" width="60" height="60">
                                    <div class="row g-3">
                                        <div class="col-12">
                                            <a href="{% url 'product' %}?category=Корзина&id={{product.id}}" class="lead uk-button-text">{{product.name}}</a>
                                            <a type="button" class="btn-close btn-sm float-end" aria-label="Delete product" href="{% url 'cart_remove' product.id %}"></a>
                                        </div><br>

                                        <div class="row col-12 mx-0 mt-2 px-2">
                                            <span class="col-4 p-0">Кол-во: </span>

                                            <form action="{% url 'cart_remove_one' product.id %}" class="col-1 p-0">
                                                <button class="col-4 border-0 p-0 bg-transparent" data-bjax><span class="ti-minus"></span></button>
                                            </form>

                                            <span class="col-1 p-0">{{product.product_amount}}</span> 
                                            
                                            <form action="{% url 'cart_add_one' product.id %}" class="col-1 p-0">
                                                <button class="col-4 border-0 p-0 bg-transparent" data-bjax><span class="ti-plus"></span></button>
                                            </form>
                                        </div><br>
                                        
                                        <div class="col-12">
                                            {% if product.total_promo_price %}
                                                <span class="text-decoration-line-through">{{product.total_price}} RUB</span>
                                                <span class="text-danger">{{product.total_promo_price}} RUB</span>
                                            {% else %}
                                                <span>{{product.total_price}} RUB</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <!-- Decoration -->
                    <hr class="border-top-colored">

                    <p class="h4">
                        Итого: 
                        {% if cart.get_total_promo_price < cart.get_total_price %}
                            <span class="text-decoration-line-through h4">{{cart.get_total_price}} RUB</span>
                            <span class="text-danger h4">{{cart.get_total_promo_price}} RUB</span>
                        {% else %}
                            <span class="h4">{{cart.get_total_price}} RUB</span>
                        {% endif %}
                    </p>

                    <div class="d-grid gap-2">
                        <a type="button" class="btn-lg uk-button-text border-colored" href="{% url 'order' %}">Перейти к оформлению заказа</a>
                    </div>
                {% else %}
                    <div class="lead fs-3 text-colored my-5 py-5 text-center">Корзина пуста</div>
                {% endif %}
            </div>

            <!-- Decoration -->
            <hr class="border-top-colored">
        </div>

        <!-- Wrapper -->
        <div id="wrapper" class="container-fluid">

            <!-- Wrapper content -->
            <div class="row">
                {% block content %}{% endblock content %}
            </div>

            <!-- Back to top button -->
            <a id="btn-back-to-top" href="#" type="button" class="btn btn-light position-fixed" uk-totop uk-scroll></a>

        </div>
        
        {% include "footer.html" %}

        <!-- Jquery JS -->
        <script src="{% static 'js/jquery/jquery-3.6.1.js' %}"></script>

        <!-- CSRF token -->
        <script> var csrf_token = '{{ csrf_token }}'; </script>

        <!-- JS -->
        <script src="{% static 'js/scripts.js' %}" defer></script>

        <!-- UIkit JS -->
        <script src="{% static 'js/UIkit/uikit.min.js' %}"></script>
        <script src="{% static 'js/UIkit/uikit-icons.min.js' %}"></script>

        <!-- Bootstrap JS -->
        <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    </body>
</html> 