<!doctype html>

{% load static %}
{% load extra_settings %}

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Title -->
        <title>{% block title %}{% get_setting 'SITE_NAME' default='Настройте параметр SITE_NAME...' %}{% endblock title %}</title>

        <!-- Site icon -->
        <link rel="icon" type="image/png" href="{% static 'images/favcon.png' %}">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{% static 'css/UIkit/uikit.min.css' %}" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <!-- CSS icons -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">

        <!-- Fonts -->
        <link href="{% static 'fonts/fonts.css' %}" rel="stylesheet">

        {% get_setting "MAIN_COLOR" default='#dc143c' as main_color %}
        {% get_setting "SECOND_MAIN_COLOR" default='#dc143c' as second_main_color %}
        {% get_setting "A_TEXT_COLOR" default='#dc143c' as a_text_active_color %}
        {% get_setting "SECOND_MAIN_COLOR_O" default='rgba(220, 20, 60, 0.9)' as second_main_color_o %}
        {% get_setting "SHADOW_COLOR" default='rgba(220, 20, 60, 0.5)' as shadow_color %}

        <style>
            :root {
                --main-color: {{main_color}} !important;
                --second-main-color: {{second_main_color}} !important;
                --second-main-color-o: {{second_main_color_o}} !important;
                --shadow-color: {{shadow_color}} !important;
                --a-text-active: {{main_color}} !important;
            }
        </style>
    </head>

    <body>

        {% include "header.html" %}

        <!-- Wrapper -->
        <div id="wrapper" class="container-fluid">

            <!-- Wrapper content -->
            <main class="row">
                {% block content %}{% endblock content %}
            </main>

            <!-- Back to top button -->
            <a id="btn-back-to-top" href="#" type="button" class="btn btn-light position-fixed" uk-totop uk-scroll></a>

        </div>
        
        {% include "footer.html" %}

        <!-- Jquery JS -->
        <script src="{% static 'js/jquery/jquery-3.6.1.js' %}"></script>

        <!-- CSRF token -->
        <script> var csrf_token = '{{ csrf_token }}'; </script>

        <!-- JS -->
        <script src="{% static 'js/scripts.js' %}"></script>

        <!-- UIkit JS -->
        <script src="{% static 'js/UIkit/uikit.min.js' %}"></script>
        <script src="{% static 'js/UIkit/uikit-icons.min.js' %}"></script>

        <!-- Bootstrap JS -->
        <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    </body>
</html> 