{% extends "base.html" %}

{% block title %}{{block.super}}{% endblock title %}

{% load static %}

{% block content %}
<!-- Sidebar -->
    <div class="col-xl-3 col-12 pt-3">
        <aside class="sidebar">

            <!-- Sidebar-menu -->
            <nav class="ms-1 mb-1 card">
                <div class="card-header">
                    <p class="text-center lead sidebar-menu-header my-2"><span class="ti-menu-alt fs-6"></span> Категории:</p>
                </div>
                <ul class="card-body list-unstyled">
                    {% for category in categories %}

                        <!-- Sidebar menu element -->
                        <li class="my-3 px-0 text-left container"><a href="{% url 'products' category=category %}">{{category}}<span class="ti-angle-right pe-1 float-end "></span></a></li>
                        
                        <!-- Sidebar menu element - Dropdown menu -->
                        <div uk-dropdown="pos: right-top; animation: uk-animation-slide-left-medium; duration: 300;" >
                            <div>
                                <ul class="uk-nav uk-dropdown-nav p-0">  
                                    <hr class="text-black-50">
                                    {% for subcategory in subcategories %}
                                        {% if subcategory.category == category %}
                                            <li ><a href="{% url 'products' category=category subcategory=subcategory %}" class="a-important">{{subcategory}}</a></li>
                                            <hr class="text-black-50">
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        {% if not forloop.last %}
                            <hr class="text-black-50">
                        {% endif %}

                    {% endfor %}    
                </ul>
            </nav>

            <!-- Sidebar content -->
            <section class="ms-1 mb-1 mt-3 card d-none d-md-block">
                <div class="card-header">
                    <p class="text-center lead sidebar-menu-header my-2"><span class="ti-thumb-up small"></span> Возможно вам понравится:</p>
                </div>

                <!-- Product card -->
                    <div class="col-12">
                        {% include "product_card.html" with product=random_product %}
                    </div>
            </section>
        </aside>
    </div>

    <!-- Content -->
    <div class="col-xl-9 col-12 pt-3">
        {% block content_2 %}{% endblock content_2 %}
    </div>
{% endblock content %}
 
{% block top_row %}
    <div class="row mb-1 mx-0 px-0">
        <nav class="col-10" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item lead"><a href="/">Главная</a></li>
                {% block breadcrumbs %}{% endblock %}
            </ol>
        </nav>

        <div class="col-2 pe-0">{% block top_row_content %}{% endblock %}</div>
        
    </div>
{% endblock %}

<nav class="border">
                <p class="sidebar-menu-header text-center"><span class="ti-menu-alt fs-6"></span> Категории:</p>
                <ul class="sidebar-menu-content list-unstiled">

                    {% for category in categories %}

                        <!-- Sidebar menu element -->
                        <li class="text-left col-11 container"><a href="{% url 'products' 1 %}?category={{category}}">{{category}}</a><span class="ti-angle-right pe-1 float-end "></span></li>

                        <!-- Sidebar menu element - Dropdown menu -->
                        <div uk-dropdown="pos: right-top; animation: uk-animation-slide-left-medium; duration: 300;" >

                                <div>
                                    <ul class="uk-nav uk-dropdown-nav p-0">  
                                        {% for subcategory in subcategories %}
                                            {% if subcategory.category == category %}
                                                <li><a href="{% url 'products' 1 %}?category={{category}}&subcategory={{subcategory}}">{{subcategory}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>

                        </div>

                    {% endfor %}

                </ul>
            </nav>

            
            <section class="border my-3">
                <p class="sidebar-menu-header text-center"><span class="ti-thumb-up small"></span> Возможно вам понравится:</p>

                    <!-- Product card -->
                    <div class="col-12">
                        {% include "product_card.html" with product=random_product %}
                    </div>
          
            </section>