{% extends "base.html" %}

{% block title %}
    {{block.super}}
    | Смена пароля
{% endblock title %}

{% load static %}

{% block content %}
    <div class="container col-xl-3 col-9 p-3 p-xl-5 pt-5">
        <form class="row g-4 needs-validation" method="post" action="{% url 'password_change' %}" novalidate>
            {% csrf_token %}

            <p class="h3 text-center">Смена пароля</p> 

            <hr>

            {% for field in form %}

                <!-- Standart form -->
                <div class="col-12">

                    <!-- Form label -->
                    <label class="form-label">{{field.label_tag}}</label>

                    <!-- Form input -->
                    {{field}}

                    <!-- Optional form errors -->
                    {% if field.errors %}
                        <div class="text-reset uk-button-text text-center offcanvas-submit-button mt-3 p-1">
                            {{field.errors}}
                        </div>
                    {% endif %}
            
                </div>  

            {% endfor %}

            <hr>

            {% if form.non_field_errors %}
                <div class="text-reset uk-button-text text-center offcanvas-submit-button my-3 py-2">
                    {{form.non_field_errors}}
                </div>
                <hr>
            {% endif %}

            <!-- Submit form -->
            <div class="col-12 text-center">
                <button class="btn-lg uk-button-text m-2 px-5 border-colored" type="submit">Сменить пароль</button>
            </div>

        </form>
    </div>
{% endblock content %}