{% extends "base.html" %}
{% block title %}
    {{block.super}}
    | Контакты
{% endblock title %}
{% load static %}
{% block content %}

    <div class="container row pt-3">
        <div class="col-5">
            <div class="fs-4 text-center my-3"><span class="uk-button-text a-important">Контакты</span></div>
            <div class="my-3">
                {% lorem 2 %}
            </div>
            <div class="row my-5 lead text-center">
                <div class="my-3">
                    Телефон 1: +7 (999) 999-99-99
                </div>
                <div class="my-3">
                    Телефон 2: +7 (888) 888-88-88
                </div>
                <div class="my-3">
                    Электронная почта : sample-shop@email.com
                </div>
                <div class="my-3 px-5">
                    Местонахождение : Московская область, Балашиха, микрорайон Железнодорожный,
                    Саввинское шоссе, 4к1, подъезд 4
                </div>
                <div class="my-3 row justify-content-center">
                    <a class="col-1"><i class="bi bi-instagram"></i></a>
                    <a class="col-1" href="https://github.com/Re-Gelu"><i class="bi bi-github"></i></a>
                    <a class="col-1"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="lead text-center my-3" >
            Мы находимся:
            </div>
            <div class="container m-3">
                <iframe class="container" src="https://yandex.ru/map-widget/v1/?um=constructor%3A0721b580c31c57c268e03b5d4b604da1a3b20effbbec676c8b5d2b2dce368ffb&amp;source=constructor" width="916" height="678" frameborder="0"></iframe>
            </div>
        </div>
    </div>

{% endblock content %}