{% extends "base.html" %}

{% block title %}
    {{block.super}}
    | Контакты
{% endblock title %}

{% load static %}
{% load extra_settings %}

{% block content %}

    <div class="container row pt-3">
        <div class="col-5">
            <div class="fs-4 text-center my-3"><span class="uk-button-text a-important">Контакты</span></div>
            <div class="my-3">
                {% get_setting 'CONTACTS_PAGE_INFORMATION' default='Настройте параметр CONTACTS_PAGE_INFORMATION' %}
            </div>
            <div class="row my-5 lead text-center">
                <div class="my-3">
                    Телефон 1: {% get_setting 'PHONE_NUMBER_1' default='Настройте параметр PHONE_NUMBER_1' %}
                </div>
                <div class="my-3">
                    Телефон 2: {% get_setting 'PHONE_NUMBER_2' default='Настройте параметр PHONE_NUMBER_2' %}
                </div>
                <div class="my-3">
                    Электронная почта : {% get_setting 'EMAIL_1' default='Настройте параметр EMAIL_1' %}
                </div>
                <div class="my-3 px-5">
                    Местонахождение : {% get_setting 'LOCATION' default='Настройте параметр LOCATION' %}
                </div>
                <div class="my-3 row justify-content-center">
                    <a class="col-1"><i class="bi bi-instagram"></i></a>
                    <a class="col-1" href="https://github.com/Re-Gelu"><i class="bi bi-github"></i></a>
                    <a class="col-1"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="lead text-center my-3" >
            Мы находимся:
            </div>
            <div class="container m-3">
                {% autoescape off %}{% get_setting 'LOCATION_MAP' default='Настройте параметр LOCATION_MAP' %}{% endautoescape %}
            </div>
        </div>
    </div>

{% endblock content %}