{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock title %}
{% load static %}
{% block content %}
    <div class="container col-xl-5 col-12 p-5">
        <div class="row g-3 text-center">
            <p class="h2">Личный кабинет</p>

            <hr>

            <p>Привет, {{ request.user.first_name }}</p>
            <p><a class="text-reset uk-button-text a-important lead" href="{% url 'logout' %}">Выйти</a></p>
            <p><a class="text-reset uk-button-text a-important lead" href="{% url 'password_change' %}">Сменить пароль</a></p>
            {% if request.user.is_superuser %}
                <p><a class="text-reset uk-button-text a-important lead" href="/admin">Админ-панель</a></p>
            {% endif %}
        </div>
    </div>
{% endblock content %}