{% load extra_settings %}

<!-- Footer -->
<footer class="container text-center my-5">

    <div class="row justify-content-center h-100">
        <div class="col-5 my-auto p-0">
            <hr class="text-black-50 my-0">
        </div>

        <div class="col-auto my-auto">
            <span class="ti-control-record fs-3 opacity-25 my-0"></span>
        </div>

        <div class="col-5 my-auto p-0">
            <hr class="text-black-50 my-0">
        </div>	
    </div>

    <div class="mt-4">© 2022 {% get_setting 'SITE_NAME' default='Название сайта' %} - Интернет-маркетплейс на Django</div>
    <sub class="text-colored float-end pt-4 pb-5 d-inline-flex">made by Re;Gelu
        <div class="waves-container mx-3">
            <div class="wave" style="--i: 1"></div>
            <div class="wave" style="--i: 2"></div>
            <div class="wave" style="--i: 3"></div>
            <div class="wave" style="--i: 4"></div>
            <div class="wave" style="--i: 5"></div>
            <div class="wave" style="--i: 6"></div>
            <div class="wave" style="--i: 7"></div>
            <div class="wave" style="--i: 8"></div>
            <div class="wave" style="--i: 9"></div>
            <div class="wave" style="--i: 10"></div>
            <div class="wave" style="--i: 11"></div>
            <div class="wave" style="--i: 12"></div>
            <div class="wave" style="--i: 13"></div>
            <div class="wave" style="--i: 14"></div>
            <div class="wave" style="--i: 15"></div>
            <div class="wave" style="--i: 16"></div>
            <div class="wave" style="--i: 17"></div>
            <div class="wave" style="--i: 18"></div>
            <div class="wave" style="--i: 19"></div>
            <div class="wave" style="--i: 20"></div>
        </div>
    </sub>
    
</footer>