{% extends "base_2.html" %}

{% block title %}
    {{block.super}}
{% endblock title %}

{% load static %}

{% block content_2 %}

        <!-- Slider -->
        <div id="slider" class="carousel slide" data-bs-ride="carousel">
            
            <!-- Slider indicators -->
            <div class="carousel-indicators">
                {% for slider_image in slider_images %}
                    {% if forloop.first %}
                        <button type="button" data-bs-target="#slider" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true"></button> 
                    {% else %}
                        <button type="button" data-bs-target="#slider" data-bs-slide-to="{{forloop.counter0}}"></button>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Slider content --> 
            <div class="carousel-inner">
                {% for slider_image in slider_images %}
                    {% if forloop.first %}
                        <div class="carousel-item active">
                            <img src="{{slider_image.image.url}}" class="d-block w-100" alt="Slider image">
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <img src="{{slider_image.image.url}}" class="d-block w-100" alt="Slider image">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- carousel-control-prev -->
            <button class="carousel-control-prev" data-bs-target="#slider" type="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>

            <!-- carousel-control-next -->
            <button class="carousel-control-next" data-bs-target="#slider" type="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>

        <!-- Categories -->
        {% for category, products in latest_products_per_category.items %}

            <div class="row mt-3 g-0">

                <!-- Category card -->
                <div class="uk-card border p-3">
                    
                    <!-- Category card body-->
                    <div>
                        <a href="{% url 'products' 1 %}?category={{category}}" class="row my-2 ms-2 lead text-colored d-inline-block"><i class="bi bi-caret-right"></i>{{category}}</a><hr>

                        <!-- Product slider -->
                        <div class="row uk-position-relative uk-visible-toggle px-3" tabindex="-1" uk-slider="sets: true, finite: true, draggable: true">
                            
                            <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l" style="max-height: 100%">

                                <li class="card me-4 overflow-auto" tabindex="0">
                                        <div class="card-header">
                                            <a href="#" class="lead text-colored">Подкатегории: </a>
                                        </div>

                                        <div class="card-body">
                                            {% for subcategory in subcategories %}
                                                {% if subcategory.category == category %}
                                                        <p class="my-3"><a href="{% url 'products' 1 %}?category={{category}}&subcategory={{subcategory}}" class="uk-button-text my-2 a-important">{{subcategory}}</a></p>
                                                        {% if not forloop.last %}
                                                            <hr class="text-black-50">
                                                        {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                </li>

                                {% for product in products %}

                                        <!-- Product card -->
                                        <li class="me-3">
                                            {% include "product_card.html" with card_animation_class="uk-transition-slide-left-small" %}
                                        </li>

                                {% endfor %}

                                {% if products %}
                                    <li class="uk-transition-toggle me-3">
                                        <div class="h-100 card uk-card-hover uk-transition-opaque uk-transition-slide-left-small py-5">
                                            <a class="card-body lead fs-3 text-colored my-5 py-5 text-center" href="{% url 'products' 1 %}?category={{category}}">
                                                Больше товаров...
                                            </a>
                                        </div>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                        
                    </div>
                </div>

            </div>
        {% endfor %}

{% endblock content_2 %}