{% extends "base.html" %}

{% block title %}
    {{block.super}}
    | Вход
{% endblock title %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container col-xl-4 col-md-6 col-8 p-3 p-xl-5 pt-5">
        <form class="row g-4 needs-validation" method="post" action="{% url 'login' %}" novalidate>
            {% csrf_token %}

            <p class="h3 text-center">Вход</p>  

            <hr>

            <p class="border border-2 my-2 lead p-2"> 
                Пожалуйста, используйте следующую форму для входа в систему. Если у вас до сих пор нет учетной записи 
                <a class="text-decoration-underline" href="{% url 'registration' %}">зарегистрируйтесь здесь!</a>
            </p>

            <input type="hidden" name="next" value="{{next}}"/>

            {% crispy form %}

        </form>
    </div>
{% endblock content %}