{% extends "base.html" %}

{% block title %}
    {{block.super}}
    | Оформление заказа
{% endblock title %}

{% load static %}
{% load extra_settings %}

{% block content %}

    <div class="container col-xl-6 col-lg-8 col-md-8 col-12 p-5">
        <form class="row g-4 needs-validation" method="post" novalidate>
            {% csrf_token %}
            
            <p class="h3 text-center">Оформление заказа</p>

            <hr>

            <table class="uk-table uk-table-divider uk-table-middle text-center">
                    <thead>
                        <tr>
                            <th class="text-center">Товар</th>
                            <th class="text-center">Кол-во</th> 
                            <th class="text-center">Цена за шт.</th>
                            <th class="text-center">Итоговая цена</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for product in cart %}
                                <tr>
                                    <td>
                                        <a href="{% url 'product' %}?category=Корзина&id={{product.id}}" class=" d-inline-flex">
                                            <img src="{{product.image}}" width="60px" >
                                            <div class="my-auto ms-2">{{product.name}}</div>
                                        </a>
                                    </td>

                                    <td>
                                        <div class="row col-12 m-0">
                                        <form class="col-4 p-0 pe-3" method="post">

                                        <span class="col-4 p-0">{{product.product_amount}}</span>

                                        </div>
                                    </td>

                                    <td>
                                        {% if product.promo_price %}
                                            <div class="text-decoration-line-through">{{product.price}} RUB</div>
                                            <div class="text-danger">{{product.promo_price}} RUB</div>
                                        {% else %}
                                            {{product.price}} RUB
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if product.total_promo_price %}
                                            <div class="text-decoration-line-through">{{product.total_price}} RUB</div>
                                            <div class="text-danger">{{product.total_promo_price}} RUB</div>
                                        {% else %}
                                            {{product.total_price}} RUB
                                        {% endif %}
                                    </td>
                                
                                </tr>
                        {% endfor %}

                        <tr>
                            <td>Итого:</td>
                            <td colspan="2"></td>
                            <td>
                                {% if cart.get_total_promo_price < cart.get_total_price %}
                                    <span class="text-decoration-line-through">{{cart.get_total_price}} RUB</span>
                                    <span class="text-danger">{{cart.get_total_promo_price}} RUB</span>
                                {% else %}
                                    {{cart.get_total_price}} RUB
                                {% endif %}
                            </td>
                        </tr>

                    </tbody>
                </table>

            {% for field in submit_form %}
                {% if forloop.first %}
                
                    <!-- Email form -->
                    <div class="col-12">

                        <!-- Form label -->
                        <label class="form-label">{{field.label_tag}}</label>

                        <!-- Form input -->
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            {{field}}
                        </div>

                        <!-- Optional form errors -->
                        {% if field.errors %}
                            <div class="text-reset uk-button-text text-center offcanvas-submit-button mt-3 p-1">
                                {{field.errors}}
                            </div>
                        {% endif %}
                    </div>

                {% else %}

                    <!-- Standart form -->
                    <div class="col-12">

                        <!-- Form label -->
                        <label class="form-label">{{field.label_tag}}</label>

                        <!-- Form input -->
                        {{field}}

                        <!-- Optional form errors -->
                        {% if field.errors %}
                            <div class="text-reset uk-button-text text-center offcanvas-submit-button mt-3 p-1">
                                {{field.errors}}
                            </div>
                        {% endif %}
                
                    </div>  
                {% endif %}
            {% endfor %}

            <!-- Terms and conditions -->
            <div class="col-12">
                <div class="form-check" href="#">
                    <input class="form-check-input border-colored background-colored" type="checkbox" value="1" id="invalidCheck" required checked>
                    <label class="form-check-label" for="invalidCheck">
                        <a class="text-reset uk-button-text a-important" href="#">Согласен с правилами и условиями</a>
                    </label> 
                </div>
            </div>

            <hr>

            {% if submit_form.non_field_errors %}
                <div class="text-reset uk-button-text text-center offcanvas-submit-button my-3 py-2">
                    {{submit_form.non_field_errors}}
                </div>
                <hr>
            {% endif %}

            <!-- Submit form -->
            <div class="col-12 text-center">
                <button class="btn-lg offcanvas-submit-button uk-button-text m-2 px-5 border-colored" type="submit">Оформить заказ!</button>
                <p class="small a-important">Время на оплату: {% get_setting 'QIWI_PAYMENTS_LIFETIME' default='30' %} мин   </p>
            </div>
        </form>

    </div>

{% endblock content %}