{% extends "base_2.html" %}

{% load static %}

{% block title %}
    {{block.super}}
    {% if products.number %}
        | Товары - стр.{{products.number}}
    {% endif %}
    {% if request.GET.category %}
        | {{request.GET.category}}
    {% endif %}
    {% if request.GET.subcategory %}
        | {{request.GET.subcategory}}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item lead"><a href="{% url 'products' 1 %}">Товары</a></li>
    {% if request.GET.category %}
        <li class="breadcrumb-item lead"><a href="{% url 'products' 1 %}?category={{request.GET.category}}">{{request.GET.category}}</a></li>
    {% endif %}
    {% if request.GET.subcategory %}
        <li class="breadcrumb-item lead"><a href="{% url 'products' 1 %}?category={{request.GET.category}}&subcategory={{request.GET.subcategory}}">{{request.GET.subcategory}}</a></li>
    {% endif %}
{% endblock %}

{% block top_row_content %}
    {% if products %}
        <div class="float-end">
            <button class="btn btn-secondary dropdown-toggle m-0 me-1" type="button">
                Сортировка
            </button>

            <div class="p-0 uk-border-rounded" uk-dropdown>
                <form class="list-group uk-border-rounded" method="POST" action="#">
                    {% csrf_token %}

                    <input type="submit" class="btn-check" name="sort_by" id="btnradio1" autocomplete="off" value="1">
                    <label class="list-group-item list-group-item-action btn-outline-primary" for="btnradio1">Новинки</label>

                    <input type="submit" class="btn-check" name="sort_by" id="btnradio2" autocomplete="off" value="2">
                    <label class="list-group-item list-group-item-action btn-outline-primary" for="btnradio2">Сначала дешёвые</label>

                    <input type="submit" class="btn-check" name="sort_by" id="btnradio3" autocomplete="off" value="3">
                    <label class="list-group-item list-group-item-action btn-outline-primary" for="btnradio3">Сначала дорогие</label>

                    <input type="submit" class="btn-check" name="sort_by" id="btnradio3" autocomplete="off" value="4">
                    <label class="list-group-item list-group-item-action btn-outline-primary" for="btnradio3">По размеру скидки</label>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content_2 %}

<!-- Cards row -->
<div class="row mt-1 g-2">
    {% if products %}

        <!-- Breadcrumbs -->
        {% block top_row %}
            {{ block.super }}
        {% endblock %}

        {% for product in products %}
            <div class="col-xl-3">
                {% include "product_card.html" %}
            </div>
        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center flex-wrap mt-3 mb-4 fs-4">

            <!-- previous_page -->
            {% if products.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'products' products.previous_page_number %}{{request.get_full_path|cut:request.path}}">&laquo;</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}

            <!-- pagination -->
            {% for page in page_range %}
                {% if products.number == page %}
                    <li class="active page-item"><span class="page-link">{{page}}</span></li>
                {% else %}
                    {% if page == products.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link">{{page}}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url 'products' page %}{{request.get_full_path|cut:request.path}}">{{page}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <!-- next_page -->
            {% if products.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'products' products.next_page_number %}{{request.get_full_path|cut:request.path}}">&raquo;</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>

    {% else %}

        <!-- No products in category -->
        <div class="container col-xl-5 col-12 p-5">
            <div class="row g-3 text-center">
                <p class="h2">Товаров пока нет!</p>
                <hr>

                <p>Возможно когда нибудь я их даже добавлю (но это не точно)</p>
            </div>
        </div>
        
    {% endif %}
</div>

{% endblock content_2 %}