{% extends "base.html" %}

{% block title %}
    {{block.super}}
    | Личный кабинет
{% endblock title %}

{% load static %}

{% block content %}
<article>
    <section class="row m-0">
        <div class="container col-xl-6 col-lg-8 col-md-8 col-12 p-3 pt-5">
            <div class="g-3 text-center">
                <!-- Dashboard -->
                <p class="h2">Личный кабинет</p>

                <hr>

                <p class="lead">Привет, {{ request.user.first_name }}</p>
            </div>
        </div>
    </section>

    <!-- current orders -->
    {% if current_orders %}
        <section class="row m-0 px-4">
            <p class="h3 text-center">Ваши текущие заказы</p>
            <div class="container col-xxl-8 col-12 p-0 mt-0 mb-3 g-3 text-center uk-overflow-auto">
                <table class="uk-table uk-table-middle uk-table-divider uk-table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">UUID заказа</th>
                            <th class="text-center">Статус оплаты</th>
                            <th class="text-center">Список товаров</th>
                            <th class="text-center">Адрес</th>
                            <th class="text-center">Контакты</th>
                            <th class="text-center">Дата создания заказа</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in current_orders %}
                            <tr>
                                <td>
                                    {{order.UUID}}
                                </td>
                                <td>
                                    {{order.get_status_display}}
                                </td>
                                <td>
                                    <pre class="p-0 border-0">{{order.product_info}}</pre>
                                </td>
                                <td>
                                    {{order.adress|cut:'Адрес: '}}
                                </td>
                                <td>
                                    {{order.contacts}}
                                </td>
                                <td>
                                    {{order.created}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    {% endif %}

    <!-- Cart -->
    <div id="dashboard-cart">
        {% include "dashboard_cart.html" %}
    </div>

    <section class="row m-0">
        <div class="container col-xl-6 col-lg-8 col-md-8 col-12 p-3">
            <nav class="g-3 text-center">
                <!-- Dashboard func -->
                {% if request.user.is_superuser %}
                    <p><a class="text-reset uk-button-text a-important lead" href="/admin">Админ-панель</a></p>
                    <p><a class="text-reset uk-button-text a-important lead" href="/swagger">API swagger</a></p>
                {% endif %}
                <p><a class="text-reset uk-button-text a-important lead" href="{% url 'custom_password_change' %}">Сменить пароль</a></p>
                <p><a class="text-reset uk-button-text a-important lead" href="{% url 'custom_logout' %}">Выйти</a></p>
            </nav>
        </div>
    </section>
</article>
{% endblock content %}